<!-- <h1 class="text-center mt-3">
  Product
 </h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let item of this.cardData">
      <div>
        <mat-card class="card mt-5">
          <div class="card-body">
            <mat-card-title class="text-center text-w bg-info p-3">{{
              item.title
            }}</mat-card-title>
            <div class="text-center mt-3">
              <button class="btn btn-primary" (click)="openModal(item)">Details</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->



<h1 class="text-center mt-3">
  Product
 </h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let product of productsList">
      <div>
        <mat-card class="card mt-5">
          <div class="card-body">
            <mat-card-title class="text-center text-w bg-info p-3">{{
              product.title
            }}</mat-card-title>
            <div class="text-center mt-3">
              <button class="btn btn-primary" (click)="openModal(product)">Details</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    
</div>
</div>
